.Header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: $header-bg;
    
    &-logo {
        height: 36px;
        padding-left: 83px;
        width: 155px;
    }

    &-navigation {
        max-width: 700px;
        width: 100%;

        padding-top: 28px;
        padding-bottom: 32px;
    }


    &-navigationList{
        align-items: center;
        display: flex;
        justify-content: space-around;

        list-style: none;
        
        margin: 0;

        padding: 0;

        width: 100%;
    }

    &-navigationItem{
        position: relative;
    }

    &-link{
        color: $white;

        &:hover{
            color: $white;
            text-decoration: none;
        }
    }
    

    &-icon{
        color: $white;

        margin-left: 21px;

        transform: rotate(180deg);
    }

    &-subMenu{
        background: $header-bg;
        height: 0;
        left: -46px;
        overflow: hidden;
        position: absolute;
        top: 59px;
        z-index: 10;

        display: flex;
        flex-direction: column;

        transition: height 0.5s ease;
    }

    &-linkSubmenu {
        color: $white;
        font-size: 14px;
        padding: 12px 60px;
        text-align: center;

        transition: all 0.5s ease;

        &:hover{
            background: $itemSubMenu;
            color: $white;
            text-decoration: none;
        }
    }

    &-navigationItem:hover > &-subMenu {
        height: 180px;
        margin-bottom: 5px;
    }

    &-actions {
        max-width: 626px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &-action {
        color: $white;
        background-color: transparent;

        padding: 28px 25px;

        transition: all 0.5s ease;

        &:hover {
            background-color: $hoverAction;
            color: $white;
            text-decoration: none;
        }

        &.hidden{
            display: none;
        }

        &.heart{
            &:hover{
                background-color: $header-bg;
            }
        }
    }

    &-hamburger{
        display: none;
    }

    @include media-breakpoint-down(md){
        &-actions{
            max-width: 87px;
        }
        &-hamburger{
            color: $white;
            display: block;
            margin-left: auto;
        }

        &-navigation{
            background: $header-bg;
            height:0;

            position: absolute;
            left: 0;
            top: 36px;

            max-width: 1200px;
            padding: 0;
            overflow: hidden;
            transition: all 0.5s ease;
            z-index: 10;
        }

        &-navigationList{
            flex-direction: column;
        }

        &-link{
            display: block;
            padding: 10px;
            text-align: center;
            transition: all 0.5s ease;
            width: 100%;

            &:hover {
                background: $itemSubMenu;
                color: $white;
                text-decoration: none;
            }
        }

        &-navigationItem{
            width: 100%;
        }
        &-actions.dis-none{
            padding: 10px;
            text-align: center;
            transition: all 0.5s ease;
            width: 100%;

            &:hover {
                background: $itemSubMenu;
                color: $white;
                text-decoration: none;
            }
        }
        &-action{
            display: none;

            &.visible, &.hidden {
                display: block;
            }
        }
        &-subMenu{
            position: relative;
            left: 0;
            top: 0;
        }

        &-hamburgerCheck:checked ~ &-navigation{
            height: 398px;
        }
    }

    @include media-breakpoint-down(xs){
        &-logo{
            padding-left: 36px;
        }
    }
}

.Banner{
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &-myContainer{
        max-width: 1630px;
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        height: 884px;

        position: relative;
    }

    &-title {
        color: $white;

        font-family: $title;
        font-size: 40px;
        font-weight: 700;

        letter-spacing: 10px;
        margin-bottom: 50px;

        max-width: 510px;
        width: 100%;

        text-transform: uppercase;
    }

    &-text {
        color: $white;

        font-family: $content;
        font-size: 18px;

        margin-bottom: 18px;
    }

    &-boxWrapper {
        display: flex;
        flex-direction: row;

        max-width: 1300px;
        width: 100%;

        margin: 0 auto;

        position: absolute;
        left: 122px;
        right: 0;
        bottom: -77px;
    }

    &-item {
        background-color: $white;
        border-left: 1px solid $borderItem;
        color: $black;
        padding: 64px;
        transition: all 0.5s ease;

        &:hover{
            background-color: $hoverAction;
            border-left: 1px solid $hoverAction;
            color: $white;
            text-decoration: none;
        }
    }
    &-icon{
        color: $hoverAction;
        margin-left: 23px;
    }

    &-itemImage{
        margin-right: 23px;
    }
    @include media-breakpoint-down(lg){
        &{
            background-position-x: center;
        }
        &-content{
            text-align: center;
        }
        &-boxWrapper {
            display: none;
        }
    }
}

.Reservation{
    display: none;

    &-boxWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &-item{
        color: $black;
        background-color: $white;
        border-left: 1px solid $borderItem;
        padding: 64px;
        transition: all 0.5s ease;

        &:hover{
            background-color: $hoverAction;
            border-left: 1px solid $hoverAction;
            color: $white;
            text-decoration: none;
        }
    }
    &-itemImage{
        margin-right: 23px;
    }
    &-icon{
        color: $hoverAction;
        margin-left: 23px;
    }
    @include media-breakpoint-down(md){
        &{
            display: block;
        }
        &-boxWrapper{
            align-items: inherit;
            justify-content: inherit;
            flex-direction: column;

            text-align: center;
        }
        &-item{
            border: 1px solid $borderItem;
        }
    }
}

.Store{
    background-image: url(../img/shutterstock_638700166.png);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 900px;
    &-wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-title{
        color: $header-bg;

        font-size: 24px;
        font-family: $title;
        font-weight: 700;

        letter-spacing: 10px;
        margin-bottom: 77px;
        text-align: center;
        text-transform: uppercase;
    }
    &-text{
        color: $header-bg;
        font-size: 16px;
        font-family: $content;
        margin-bottom: 110px;
        text-align: center;
    }
    &-button{
        border: 1px solid $header-bg;
        border-radius: 50px;
        background-color: $header-bg;
        color: $white;
        padding: 24px 83px;
        &:hover{
            background-color: $itemSubMenu;
            color: $white;
            text-decoration: none;
            transition: all 0.3s ease;
        }
    }
}
.Services{
    padding-bottom: 242px;
    padding-top: 175px;

    &-title{
        color: $borderItem;

        font-size: 24px;
        font-family: $title;
        font-weight: 700;

        margin-bottom: 77px;
        text-align: center;
    }
    &-text{
        color: $header-bg;

        font-size: 16px;
        font-family: $content;

        margin: 0 auto;
        margin-bottom: 170px;

        max-width: 660px;
        width: 100%;

        text-align: center;
    }
    &-wrapperRow{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &-wrapper{
        align-items: center; 
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-right: 100px;
    }
    &-image{
        margin-bottom: 53px;
    }
    &-titleService{
        color:$header-bg;
        font-size: 24px;
        font-family: $content;
        margin-bottom: 35px;
    }
    &-description{
        color: $header-bg;

        font-family: $content;
        font-size: 16px;

        max-width: 413px;
        width: 100%;

        text-align: center;
    }
    @include media-breakpoint-down(md){
        &-wrapperRow{
            flex-direction: column;
        }
        &-titleService, &-description{
            text-align: center;
        }
        &-wrapper{
            margin-right: 0;
        }
        
    }
}

.Portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &-wrapper{
        background-repeat: no-repeat;
        flex-basis: 30%;
        height: 565px;
        width: 623px;

        margin-right: 12px;
        margin-bottom: 12px;

        position: relative;

        &.hairdresser{
            background-image: url('../img/19ALBC0292.png');
        }
        &.hairdresser2{
            background-image: url('../img/19ALBC0144.png');
            margin-left: 0;
        }
        &.nails{
            background-image: url('../img/19ALBC0067.png');
            margin-left: 0;
        }
        &.beautyShop{
            background-image: url('../img/19ALBC0280.png');
        }
        &.groups{
            background-image: url('../img/19ALBC0536.png');
            margin-left: 0;
        }
        &.package{
            background-image: url('../img/19ALBC0196.png');
            margin-left: 0;
        }
    }

    &-wrapper:hover > &-internal {
        background-color: $white;
        height: 300px;
    }

    &-wrapper:hover > &-internal > &-text{
        display: block;
    }
    &-wrapper:hover > &-internal > &-button{
        display: block;
    }

    &-text, &-button{
        display: none;
    }

    &-internal{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: $white;

        height: 166px;

        position: absolute;
        bottom: 0;

        transition: all 0.25s ease;
        width: 100%;
    }
    &-title{
        color: $hoverAction;

        font-size: 26px;
        font-family: $title;
        font-weight: 700;

        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &-text{
        color: $header-bg;

        font-family: $content;
        font-size: 16px;
        text-align: center;

        margin-bottom: 27px;

        max-width: 416px;
        width: 100%;
    }
    &-button{
        background-color: $hoverAction;

        border: 1px solid $hoverAction;
        border-radius: 50px;

        color: $white;
        font-size: 16px;
        padding: 24px 102px;
        &:hover{
            background-color: $buttonHoverPorfolio;
            color: $white; 
            text-decoration: none;
            transition: all 0.5s ease;
        }
    }

    @include media-breakpoint-down(md){
        &-wrapper{
            flex-basis: inherit;
        }
        &-text, &-button{
            display: block;
        }
        &-internal{
            height: 300px;
        }
    }
    @include media-breakpoint-down(xs){
        &{
            padding: 0 10px;
        }
        &-wrapper{
            margin-right: 0;
        }
    }
}