//colors
$white: #fff;
$black: #000;
$header-bg: #313131;
$itemSubMenu:#1b1b1b;
$hoverAction: #a191b2;
$borderItem: #d0d0d0;
$buttonHoverPorfolio: #9486a2;

//fonts
$title: 'Cormorant Infant', serif;
$content: 'Raleway', sans-serif;
